<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Private Services - Artsea Auction House</title>
    <meta name="description"
        content="Our private sales service offers the freedom to collect world-class work any day of the year. Get in touch with our specialist to see how we can assist you" />
    <meta name="keywords"
        content="Artsea, Artsea Auction House, Online Auction House, Auctions, Indian Auctions, Auctioneers, Fine Art Specialists" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
    <!--Navbar    -->
    <div th:replace="header :: header"></div>


    <!-- Main Content -->
    <main class="privacy-policy-container">
        <h1>Collection Services</h1>

        <div class="banner-image">
            <img src="/collection-service.jpg"
                alt="Collection Services Banner">
        </div>

        <div class="privacy-content">
            <p>Years of expertise and faith from the collector community have propelled Artsea to broaden our horizons
            and introduce bespoke services to help our clientele in building a vibrant repertoire of art.</p>

            <!-- <p><strong>Catering to the seasoned collector</strong></p> -->

            <p>If you are seeking to improve or expand your collection, experts at Artsea will assist you at every stage
            of the process.&nbsp;</p>

            <!-- <p><strong>Private selling</strong></p> -->

            <p>We offer our services to corporate entities, private collectors, museums and other public institutions. Our
            objective is to utilise our expertise to deliver personalised and strategic solutions to help them maximise
            the innate value of their art collection.&nbsp;</p>

            <!-- <p><strong>Customised, discreet arrangements</strong></p> -->

            <p>With our thorough understanding of corporate environments, we create specialised and strategic art
            solutions that improve your workspace and advance your branding goals.</p>

            <h2>Talk to our experts</h2>

            <div class="contact-card">
                <img src="woman.jpg"
                    alt="Artsea Representative">
                <h3>Artsea</h3>
                <p>Contact Us</p>
                <p>contact@artsea.com</p>
            </div>
        </div>
    </main>

    <!--Footer    -->
    <div th:replace="footer :: footer"></div>
    <script src="/home.js"></script>
</body>

</html>