<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Post Sale Services - Artsea Auction House</title>
    <meta name="description"
        content="We offer an end to end post sale service customised for each client from bidding to delivery of the artworks, get in touch for any queries." />
    <meta name="keywords" content="Auction House,Indian Auction House,Auction Website,Fine Art Auction House" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<!--Navbar    -->
<div th:replace="header :: header"></div>

    <!-- Main Content -->
    <main class="privacy-policy-container">
        <h1>Post-Sales Services</h1>

        <div class="banner-image">
            <img src="/Post-Sale3-min.jpg"
                alt="Post-Sales Services Banner">
        </div>

        <div class="privacy-content">
            <p>Artsea's team of highly trained staff will help you through the entire acquiring process, from the time
                of payment to the delivery of your property anywhere in the world.</p>

            <p><strong>Statements and Invoices</strong></p>

            <p>Within 3 business days of the auction concluding, our post-sale service team will send you an invoice and
                shipping details. The final price on the invoice includes the hammer price, the buyer's premium and
                local taxes. The shipping charges incurred by Artsea are charged based on individual shipments and
                will be shared with clients separately. You can pay this within 7 business days of receiving the
                invoice. Once this payment is received in full, we will ship your property within 7 business days. </p>

            <p><strong>Payments</strong></p>

            <p>You can pay for your property by sending payment to Artsea via cheque, demand drafts or NEFT/RTGS
                transfer.

                For international shipments, we accept payment via bank through wire transfer

                Artsea will not accept third-party payments from an organisation or individual who is not the winning
                bidder.</p>

            <p><strong> Delivery</strong></p>

            <p>The in-house logistics team at Artsea takes care of arranging the packaging, shipping, and safe
                delivery of your property to your doorstep.

                The property will be dispatched in 3 working days following confirmation from our accounts department of
                full payment receipt of the said property.</p>

            <p>Estimated time frame post dispatch: 5 to 18 working days; delivery to the customer is subject to local
                customs clearance.</p>

            <p>The abovementioned timelines can differ depending on individual circumstances and any clubbing of
                property. Delivery within Mumbai is free of cost.

                Shipping and delivery policies may differ from one location to another in international lots shipments
                due to customs and export / import regulations. </p>

            <p><strong>Please note: </strong></p>

            <p>For items registered under the Antiquities and Art Treasures Act, of 1972, delivery and transportation will be done after the transfer of ownership. </p>

            <p>In the case of vintage cars, delivery is dependent upon the registration of new ownership at the Regional Transport Office (RTO)..</p>

            <h2>Talk to our experts</h2>

            <div class="contact-card">
                <img src="/woman.jpg"
                    alt="AstaGuru Representative">
                <h3>Artsea</h3>
                <p>Contact Us</p>
                <p>contact@artsea.com</p>
            </div>
        </div>
    </main>

    <!--Footer    -->
    <div th:replace="footer :: footer"></div>
<script src="/home.js"></script>

</body>

</html>