<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Private Services - Artsea Auction House</title>
    <meta name="description"
        content="Our private sales service offers the freedom to collect world-class work any day of the year. Get in touch with our specialist to see how we can assist you" />
    <meta name="keywords"
        content="Artsea, Artsea Auction House, Online Auction House, Auctions, Indian Auctions, Auctioneers, Fine Art Specialists" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<!--Navbar    -->
<div th:replace="header :: header"></div>

    <!-- Main Content -->
    <main class="privacy-policy-container">
        <h1>Private Services</h1>

        <div class="banner-image">
            <img src="/Private-services_2-min.jpg"
                alt="Private Services Banner">
        </div>

        <div class="privacy-content">
            <p>We provide our vast audience of collectors, works in several fine art, contemporary art, fine jewellery,
                textiles and collectibles. Through our specialists and seller network based around the globe, we provide
                buyers with specific works that they are searching for. This bespoke service is available to our
                collectors throughout the year, beyond just our auctions.</p>

            <p><strong>Catering to the seasoned collector</strong></p>

            <p>With our in-depth knowledge of the market, we are equipped to cater to our collectors' needs.</p>

            <p><strong>Private selling</strong></p>

            <p>Artsea is one of the largest auction houses in the country, with around 15 years of experience in
                auctioneering art and artefacts across 16 categories. With our vast network of collectors and experts
                around the world, Artsea connects you with potential buyers and determines the best way to sell and gain
                exposure in the market.</p>

            <p><strong>Customised, discreet arrangements</strong></p>

            <p>All arrangements are made to meet our clients' requirements, Artsea not only helps with coming to a
                mutually agreed upon, appropriate fee but also provides the utmost confidentiality.</p>

            <p><strong>Convenient services</strong></p>

            <p>Through our online platform, dedicated galleries and personal consults, Artsea is dedicated to providing
                private sales services throughout the year, allowing you to buy and sell at your convenience.</p>

            <p>Get in touch with one of our Private Sales specialists to see how we can assist you in adding to your
                collection.</p>

            <h2>Talk to our experts</h2>

            <div class="contact-card">
                <img src="/woman.jpg"
                    alt="Artsea Representative">
                <h3>Artsea</h3>
                <p>Contact Us</p>
                <p>contact@artsea.com</p>
            </div>
        </div>
    </main>

   <!--Footer    -->
   <div th:replace="footer :: footer"></div>

<script src="/home.js"></script>
</body>

</html>