<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Storage Services - Artsea Auction House</title>
    <meta name="description"
        content="Secure your valuable assets with our premier storage services. From climate-controlled facilities to 24/7 security, trust us for safekeeping your treasures" />
    <meta name="keywords"
        content="Artsea, Artsea Auction House, Online Auction House, Auctions, Indian Auctions, Auctioneers, Fine Art Specialists" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<!--Navbar    -->
<div th:replace="header :: header"></div>


   <!-- Main Content -->
    <main class="privacy-policy-container">
        <h1>Storage Services</h1>
        
        <div class="banner-image">
            <img src="Storage-min.jpg" alt="Storage Services Banner">
        </div>
        
        <div class="privacy-content">
            <p>AstaGuru offers a comprehensive suite of art management services designed to protect and preserve your valuable collection.</p>
            
            <p>Our storage facility in Mumbai is equipped to store a wide range of items including fine art paintings, furniture, sculptures and large-scale items.</p>
            
            <p><strong>Advantages of choosing our art storage facility:</strong></p>
            
            <ul>
                <li>Aeration system</li>
                <li>Ventilation system</li>
                <li>Alarm system and 24/7 surveillance cameras</li>
                <li>Shelving system for disaster protection</li>
            </ul>
            
            <p>The various types of artwork are placed in storage by our team of technicians. Once the storage operations are completed, each client is then provided with an inventory.</p>
            
            <p>Our facility is carefully designed to ensure the highest level of 24/7 security for preserving your valuable artworks and objects. The facility is supervised by a team of highly skilled experts who follow a strict and meticulous protocol committed to the safe handling of the asset in their care.</p>
            
            <p>Our warehouse and team are equipped to react to emergency art storage needs in cases such as last-minute storage requirements or unforeseen events. This service allows us to efficiently retrieve and relocate your works as quickly as possible.</p>
            
            <p><strong>Contact us to find out more.</strong></p>
            
            <h2>Talk to our experts</h2>
            
            <div class="contact-card">
                <img src="/woman.jpg" alt="Artsea Representative">
                <h3>Artsea</h3>
                <p>Contact Us</p>
                <p>contact@artsea.com</p>
            </div>
        </div>
    </main>

    <!--Footer    -->
    <div th:replace="footer :: footer"></div>
<script src="/home.js"></script>
</body>

</html>