<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Privacy Policy - Artsea Auction House</title>
    <meta name="description"
        content="Thank you for choosing - Artsea. Our privacy policy outlines how we collect, use & protect your personal information when you use our auction platform." />
    <meta name="keywords"
        content="Artsea, Artsea Auction House, Online Auction House, Auctions, Indian Auctions, Auctioneers, Fine Art Specialists" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<!--Navbar    -->
<div th:replace="header :: header"></div>
    <!-- Main Content -->
    <main class="privacy-policy-container">
        <h1>Who We Are</h1>

        <div class="banner-image">
            <img src="who-we-are-banner.jpg"
                alt="Who We Are Banner">
        </div>

        <p>Artsea, Mumbai's Premier Online Auction House, seamlessly blends sophistication with expertise, defining
            its identity through a profound commitment to artistic preservation. Since its establishment in 2008,
            Artsea has emerged as a pioneer among online auction houses, specialising in art, antiques, and
            collectibles. Beyond being a mere e-auction website in Mumbai India, Artsea is a curator of experiences, a
            guardian of cultural legacies and a beacon for those who value the profound richness of artistic expression.
        </p>

        <p>Our name, 'Artsea,' is a fusion of the Italian word "Asta" for auction with 'Guru,' symbolizing our
            unwavering dedication to the art of auctioneering. Each meticulously curated catalogue guarantees
            authenticity, provenance, rarity, artistry, and craftsmanship, ensuring a distinctive and unparalleled
            experience.</p>

        <p>Artsea has evolved into the preferred destination for original artworks and collectibles, achieving world
            record prices for revered artists like A. Ramachandran, Jeram Patel, António Xavier Trindade, M F Husain,
            and more. We joyously celebrate and seek custodians for timeless works that embody defining aesthetic
            movements in India.</p>

        <h2>Mission</h2>
        <p>Empowering collectors and connoisseurs is at the core of Artsea's mission. Our mission is to offer a
            platform to discover, acquire, and consign an eclectic array of treasures, ranging from Modern Indian and
            Contemporary art to exquisite collectibles. Artsea aims to craft an unparalleled auction experience that
            transcends traditional boundaries. We also hope to be a dynamic cultural hub, fostering connections and
            conversations within a global community of collectors, artists, and enthusiasts.</p>

        <h2>Vision</h2>
        <p>Artsea envisions a future where it stands as a global beacon, transcending traditional boundaries as an art
            and collectibles platform. Renowned for trust, innovation, and the celebration of diverse artistic
            expressions, we aim to redefine the essence of collecting. Artsea strives to be a curator of experiences,
            a guardian of cultural legacies, and a catalyst for shaping the evolving landscape of art appreciation.</p>

        <h2>Culture at Artsea</h2>
        <div class="highlight-box">
            <p>Being a part of Artsea means transcending the mundane. Creativity is not just encouraged; it is
                celebrated. Our team finds fulfillment in an environment where ideas are not only heard but rewarded.
                Strong recognition, diversity, and inclusivity define our workplace, creating a vibrant mix of youth and
                experience. Our culture resonates with a commitment to excellence, innovation, and a genuine passion for
                the arts.</p>
        </div>

        <h2>Our Values</h2>
        <div class="highlight-box">
            <p>At Artsea, success is an artful composition of discipline, meticulous planning, unwavering integrity,
                and the bedrock of trust. These values are not mere principles; they are integral aspects embedded in
                each individual, propelling both personal development and the overarching success of our organisation.
                Beyond business operations, we prioritise building robust working relationships.</p>
        </div>

        <h2>Management</h2>
        <p>Founded by Mr. Vickram Sethi, a guiding force with over three decades in the art world, serving as Chairman
            and Managing Director. Mr. Tushar Sethi, the CEO, envisions Artsea as a market leader, reflected in our
            exponential growth. Our team of art specialists in client relations, content, marketing, PR, research,
            restoration, and logistics contributes to Artsea's success. Join us in a community where values are not
            just spoken but lived, and every day is an opportunity to create something extraordinary under visionary
            leadership.</p>
    </main>

    <!--Footer    -->
    <div th:replace="footer :: footer"></div>

<script src="/home.js"></script>
</body>
</html>